[MESSAGES CONTROL]
disable=too-many-instance-attributes,
        line-too-long,
        duplicate-code,
        too-many-positional-arguments,
        too-many-arguments,
        too-few-public-methods